name: Chest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        #os: [ ubuntu-latest, macos-latest, windows-latest ]
        #os: [ ubuntu-latest ]
        #os: [ macos-latest ]
        os: [ windows-latest ]

    steps:

      ################################################################################

      - uses: actions/checkout@v2
      - uses: browser-actions/setup-chrome@latest
      - uses: dart-lang/setup-dart@v1

      ################################################################################

      - name: Installing dependencies
        run: dart pub get

      ################################################################################

      - name: Analyzing the project source
        run: dart analyze --fatal-infos

      ##############$PSVersionTable##################################################################

      - name: Running unit tests
        run: dart test

      ################################################################################

      - name: Building the application for a POSIX-compliant OS
        if: runner.os != 'Windows'
        run: scripts/build "${{runner.os}}"

      - name: Building the application for Windows
        if: runner.os == 'Windows'
        run: scripts\build

      ################################################################################

      #- name: Running Integration Test 1 - flutter_app_icons
      #  run: |
      #    bin/${{runner.os}}/chest -d .

      ################################################################################

      - name: Pushing the new binary to the version control
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Pushing the new binary back to the version control'
          add: 'bin/${{runner.os}}/* --force'

      ################################################################################

      - name: Pushing the new application package back to the version control
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Pushing the new application package back to the version control'
          add: 'app/${{runner.os}}/* --force'

      ################################################################################
