name: Chest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        #os: [ ubuntu-latest ]
        #os: [ macos-latest ]
        #os: [ windows-latest ]

    steps:

      ################################################################################

      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1

      ################################################################################

      - name: Installing rsvg-convert for Linux
        if: runner.os == 'Linux'
        run: sudo apt install librsvg2-bin

      - name: Installing rsvg-convert for macOS
        if: runner.os == 'macOS'
        run: brew install librsvg

      - name: Installing rsvg-convert for Windows
        if: runner.os == 'Windows'
        run: choco install -y rsvg-convert --no-progress

      ################################################################################

      - name: Installing ImageMagick for Windows
        if: runner.os == 'Windows'
        run: |
          choco install -y imagemagick.app --no-progress
          Get-ChildItem -Path "${env:ProgramFiles}" | Where-Object {($_.Name -Like 'ImageMagick*')} | %{$_.FullName} | Out-File -Append -FilePath $env:GITHUB_PATH -Encoding utf8

      ################################################################################

      - name: Installing dependencies
        run: dart pub get

      ################################################################################

      - name: Analyzing the project source
        run: dart analyze --fatal-infos

      ##############$PSVersionTable##################################################################

      - name: Running unit tests
        run: dart test

      ################################################################################

      - name: Building the application for a POSIX-compliant OS
        if: runner.os != 'Windows'
        run: scripts/build "${{runner.os}}"

      - name: Building the application for Windows
        if: runner.os == 'Windows'
        run: scripts\build

      ################################################################################

      - name: Running Integration Test 1 - List all files in the current directory
        run: |
          bin/${{runner.os}}/chest -files "**" -nocontent

      ################################################################################

      - name: Running Integration Test 2 - Count app files
        run: |
          bin/${{runner.os}}/chest -dir "app" -files "**.{gz,zip}" -nocontent -expect 1,3

      ################################################################################

      - name: Pushing the new binary to the version control
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Pushing the new binary back to the version control'
          add: 'bin/${{runner.os}}/* --force'

      ################################################################################

      - name: Pushing the new application package back to the version control
        uses: EndBug/add-and-commit@v7
        with:
          message: 'Pushing the new application package back to the version control'
          add: 'app/${{runner.os}}/* --force'

      ################################################################################
